.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  position: static;
  color: gray;
}

.App-title {
  font-size: 1.2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mainFrame {
  position: relative;
  margin-top: 5vh;
  height: 100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.CircularProgressbar-path       { stroke: red; }
.CircularProgressbar-trail      { stroke: gray; }
.CircularProgressbar-text       { fill: yellow; }
.CircularProgressbar-background { fill: green; }
